@use '../../assets/fonts/font';

// ===== Colors =====

// Текст
$color-text-primary: #253017; // Основной текст
$color-text-caption: #69735d; // Подписи, второстепенный текст
$color-text-disabled: #9ca197; // Неактивный текст
$color-text-link: #508826; // Ссылки, активная кнопка

// Фоны
$color-bg-primary: #f9faf7; // Основной фон страницы
$color-bg-card: #fff; // Фон карточек, input'ов

// Кнопки и интерактивные элементы
$color-button-primary: #508826; // Основная кнопка
$color-button-hover: #deebc5; // Наведение на кнопку
$color-toggle: #b2b9a9; // Переключатели

// Границы
$color-border-default: #e4e8df; // Неактивные элементы, границы

// Статусы
$color-alarm: #e0796e; // Предупреждение
$color-error: #bf3920; // Ошибка

// Акцент
$color-accent-light: #abd27a; // Светлый акцент
$color-accent-dark: #69735d; // Тёмный акцент

// Цвета для тегов (категории)
$color-tag-business: #eee7f7; // Бизнес и карьера
$color-tag-art: #f7e7f2; // Творчество и искусство
$color-tag-language: #ebe5c5; // Иностранные языки
$color-tag-education: #e7f2f6; // Образование и развитие
$color-tag-home: #f7ebe5; // Дом и уют
$color-tag-health: #e9f7e7; // Здоровье и лайфстайл
$color-tag-other: #e8ecf7; // Другое (+)

// ===== Spacing =====
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-2xl: 48px;

// ===== Typography =====
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$jost: 'Jost', sans-serif;
$font-sans:
  system-ui,
  -apple-system,
  sans-serif;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;

// ===== Borders =====
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;

// ===== Shadows =====
$shadow-sm: 0 1px 2px rgb(0 0 0 / 5%);
$shadow-md: 0 4px 6px rgb(0 0 0 / 7%);
