.header {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;

  width: 1440px;
  max-width: 1440px;
  min-height: 104px;
  max-height: 116px;
  padding: 0 24px;
}

.input {
  min-width: 527px;
  max-width: 648px;
}
