:where(.box) {
  width: fit-content;
  height: fit-content;
  padding: $space-lg;
  border: 1px solid transparent;
  border-radius: $radius-lg;

  background-color: $color-bg-card;
  box-shadow: $shadow-sm;
}
