.button {
  cursor: pointer;

  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: $radius-lg;

  font-family: $roboto;
  font-size: $font-size-base;
  font-weight: 400;
  color: $color-text-primary;
  letter-spacing: 2%;

  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.primary {
  background-color: $color-accent-light;

  &:hover {
    background-color: $color-button-hover;
  }

  &:active {
    color: $color-bg-card;
    background-color: $color-text-link;
  }

  &:disabled {
    color: $color-text-caption;
    background-color: $color-border-default;
  }
}

.secondary {
  border-color: $color-accent-light;
  background-color: $color-bg-card;

  &:hover {
    border-color: $color-button-hover;
    color: $color-text-caption;
  }

  &:active {
    border-color: $color-text-link;
    color: $color-text-primary;
  }

  &:disabled {
    color: $color-text-disabled;
    background-color: $color-border-default;
  }
}

.tertiary {
  background-color: $color-bg-card;
}
