.button {
  border-radius: $radius-lg;
  padding: 12px 24px;
  cursor: pointer;
  color: $color-text;
  font-size: $font-size-base;
  letter-spacing: 2%;
  font-family: $roboto;
  font-weight: 600;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.full {
  background-color: $color-accent-light;
  &:hover {
    background-color: #deebc5;
  }
  &:active {
    background-color: #508826;
    color: #fff;
  }
  &:disabled {
    background-color: #e4e8df;
    color: #69735d;
  }
}

.partial {
  border: 1px solid $color-accent-light;
  background-color: $color-bg-secondary;
  &:hover {
    border-color: #deebc5;
    color: #69735d;
  }
  &:active {
    border-color: #508826;
  }
  &:disabled {
    background-color: #e4e8df;
    color: #9ca197;
  }
}

.none {
  border-color: transparent;
  background-color: transparent;
}
