@font-face {
  font-family: 'Open Sans';
  font-weight: 400 600;
  font-style: normal;

  font-display: swap;
  src: url('./font-files/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;

  font-display: swap;
  src: url('./font-files/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 400 600;
  font-style: normal;

  font-display: swap;
  src: url('./font-files/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;

  font-display: swap;
  src: url('./font-files/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: Jost;
  font-weight: 400 600;
  font-style: normal;

  font-display: swap;
  src: url('./font-files/Jost/Jost-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Jost;
  font-weight: 400;
  font-style: italic;

  font-display: swap;
  src: url('./font-files/Jost/Jost-Italic-VariableFont_wght.ttf') format('truetype');
}
