.errorDisplay {
  transform: translateY(0);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 400px;
  margin-bottom: $space-xl;
  padding: $space-lg $space-md;

  font-family: $jost;
  font-size: $font-size-2xl;
  color: $color-text-primary;
  text-align: center;

  opacity: 1;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.message {
  max-width: 480px;
  margin-bottom: $space-xl;

  font-family: $roboto;
  font-size: $font-size-base;
  color: $color-text-primary;
}

.buttons {
  display: flex;
  gap: $space-lg;
  align-items: center;
  justify-content: center;
}
