.errorDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 550px;
  max-height: 504px;
  margin-bottom: $space-xl;
  padding: $space-lg $space-md;

  font-family: $jost;
  font-size: $font-size-2xl;
  color: $color-text-primary;
  text-align: center;
}

.message {
  margin-bottom: $space-xl;
  font-family: $roboto;
  font-size: $font-size-base;
}

.buttons {
  display: flex;
  place-content: center space-between;
  align-items: center;

  width: 100%;
}

.button {
  width: 47%;
}
