.iconWrapper {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 24px;
  height: 24px;
}

.svg {
  position: absolute;
  top: 5.25px;
  left: 5.25px;

  width: 13.5px;
  height: 13.5px;
}
