.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
}

.list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 12px 24px;

  width: 100%;

  list-style: none;
}
