.userAvatar {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}

.name {
  flex-direction: row-reverse;

  .nameText {
    font-family: $roboto;
    font-size: $font-size-sm;
    font-weight: 400;
    letter-spacing: 2%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  color: $color-text;
}

.all {
  .nameText {
    font-size: $font-size-xl;
  }
}

.details {
  font-family: $roboto;
  font-size: $font-size-sm;
  font-weight: 600;
}
