.user-avatar {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}

.name {
  flex-direction: row-reverse;

  .name-text {
    font-family: $roboto;
    font-size: $font-size-base;
    font-weight: 400;
    letter-spacing: 2%;
  }

  .avatar-img {
    min-width: 48px;
    min-height: 48px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  color: $color-text;
}

.all {
  .name-text {
    font-size: $font-size-xl;
  }

  .avatar-img {
    min-width: 100px;
    min-height: 100px;
  }
}

.details {
  font-family: $roboto;
  font-size: $font-size-sm;
  font-weight: 400;
}
