.favoriteButton {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: none;
  border-radius: $radius-md;

  background: transparent;

  transition:
    background-color 200ms ease,
    transform 150ms ease;

  &:hover {
    background-color: $color-button-hover;
  }

  &:active {
    background-color: $color-button-primary;
  }
}

.favoriteButtonIsActive {
  &:hover {
    background-color: $color-button-hover;
  }

  &:active {
    background-color: $color-button-primary;
  }
}

.favoriteButtonIcon {
  width: 1.5rem;
  height: 1.5rem;

  color: $color-text-primary;

  fill: none;

  transition:
    fill 200ms ease,
    color 200ms ease,
    transform 150ms ease;
}

.favoriteButtonIsActive .favoriteButtonIcon {
  fill: $color-text-primary;
}
