.datePicker {
  isolation: isolate;
  position: relative;
  display: inline-block;

  &.disabled {
    opacity: 0.6;
  }
}

.input {
  border-color: $color-border-default;
}

.inputOpen {
  border-color: $color-accent-light;
  outline: 2px solid $color-accent-light;
}

.inputError {
  border-color: $color-error;
}

.input,
.inputOpen,
.inputError {
  &:hover:not(:has(:disabled)) {
    border-color: inherit;
    outline: 2px solid currentcolor;
  }
}

.inputOpen:hover:not(:has(:disabled)) {
  border-color: $color-accent-light;
  outline: 2px solid $color-accent-light;
}

.inputError:hover:not(:has(:disabled)) {
  border-color: $color-error;
  outline: 2px solid $color-error;
}

.errorMessage {
  margin-top: 4px;
  font-size: $font-size-xs;
  color: $color-error;
}

.popover {
  position: absolute;
  z-index: 100;

  width: 280px;
  margin-top: $space-sm;
  padding: 16px 32px;
  border-radius: $radius-lg;

  background-color: $color-bg-card;
}

.calendarRoot {
  width: 100%;
}

.monthCaption {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdowns {
  display: flex;
  gap: $space-xs;
  align-items: center;
  justify-content: center;
}

.navHidden,
.captionLabelHidden {
  display: none;
}

.monthGrid {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.weekday {
  height: 16px;
  padding: 0;

  color: $color-text-link;
  text-align: center;
  vertical-align: middle;
}

.day {
  padding: 0;
  text-align: center;
}

.dayButton {
  transition: background-color 0.15s ease;

  &:hover:not(:disabled) {
    background-color: $color-button-hover;
  }
}

.daySelected {
  .dayButton {
    font-weight: 600;
    color: $color-text-primary;
    background-color: $color-accent-light;

    &:hover:not(:disabled) {
      background-color: $color-accent-light;
    }
  }
}

.dayOutside,
.dayDisabled {
  .dayButton {
    color: $color-text-disabled;
  }
}

.dayDisabled {
  .dayButton {
    cursor: not-allowed;
    opacity: 0.35;
  }
}

.selectWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;

  select {
    cursor: pointer;

    padding: 8px 16px 8px 8px;
    border: none;
    border-radius: $radius-sm;

    text-transform: capitalize;

    appearance: none;
    background-color: transparent;
    outline: none;

    &:hover {
      background-color: $color-button-hover;
    }
  }

  .selectArrow {
    pointer-events: none;

    position: absolute;
    right: 4px;
    transform: scale(0.8);

    display: flex;
    align-items: center;

    color: $color-text-primary;
  }
}

.calendarIcon {
  pointer-events: none;
}

.popoverActions {
  display: flex;
  gap: $space-xs;
  width: 100%;
  margin-top: $space-md;
}
