.dropdown {
  top: calc(100% + 32px);
  left: 50%;
  transform: translateX(-65%);
  background-color: $color-bg-card;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box {
  text-align: left;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

.section {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
  align-items: flex-start;
}

.sectionTitle {
  font-size: $font-size-2xl;
  font-weight: 500;
  color: $color-text-primary;
}

.empty {
  font-family: $roboto;
  font-size: $font-size-base;
  color: $color-text-caption;
  text-align: center;
}

.button {
  position: relative;
}
