.dropdown {
  top: calc(100% + 32px);
  left: 50%;
  transform: translateX(-65%);

  overflow-y: hidden;

  width: 556px;
  max-height: 616px;
  padding: 60px;
  border: 1px solid $color-accent-dark;
  border-radius: $radius-lg;

  background-color: $color-bg-card;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

.notification {
  display: flex;
  text-align: left;
}

.section {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
  align-items: flex-start;
}

.sectionTitle {
  margin: 0;

  font-family: $jost;
  font-size: $font-size-2xl;
  font-weight: 500;
  color: $color-text-primary;
  text-align: left;
}

.empty {
  margin: 0;

  font-family: $roboto;
  font-size: $font-size-base;
  color: $color-text-caption;
  text-align: center;

  background-color: $color-bg-card;
}

.button {
  position: relative;
}
