.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
  margin-left: 36px;
}

.icon {
  width: 40px;
  height: 40px;
}

.text {
  font-family: $jost;
  font-size: $space-lg;
  font-weight: 600;
  color: $color-text;
}
