.logo {
  display: flex;
  gap: 12px;
  align-items: center;

  width: fit-content;
  height: 40px;
}

.icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.text {
  font-family: $jost;
  font-size: $font-size-2xl;
  font-weight: 600;
  color: $color-text-primary;
  letter-spacing: -1.1%;
}
