.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: $space-xl;
}

.title {
  font-family: $jost;
  font-size: $font-size-3xl;
  line-height: 40px;
  color: $color-text-primary;
}

.seeAllButton {
  display: flex;
  gap: $space-sm;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: $space-lg;
}
