.authLayout {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 36px 36px 0;
}

.closeButton {
  display: flex;
  align-items: center;
}
