.skillWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.skillWrapperIcon {
  border-radius: 50%;
}

.skillWrapperText {
  padding: 8px 12px;
  border-radius: 20px;

  font-family: $roboto;
  font-size: $font-size-xs;
  line-height: 16px;
  color: $color-text-primary;
}

.business {
  background-color: $color-tag-business;
}

.art {
  background-color: $color-tag-art;
}

.language {
  background-color: $color-tag-language;
}

.education {
  background-color: $color-tag-education;
}

.home {
  background-color: $color-tag-home;
}

.health {
  background-color: $color-tag-health;
}

.more {
  background-color: $color-tag-other;
}
