.arrow {
  transition: transform 0.2s ease;
}

.horizontal {
  transform: rotate(0deg);
}

.horizontal_open {
  transform: rotate(180deg);
}

.vertical {
  transform: rotate(-90deg);
}

.vertical_open {
  transform: rotate(90deg);
}
