.toggleButton {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;

  background: none;

  svg {
    width: 19.4px;
    height: 20px;
    fill: $color-text-primary;
    transition: fill 0.2s ease-in-out;

    path {
      fill: currentcolor;
    }
  }

  &:hover svg {
    fill: $color-button-hover;
  }

  &:active svg {
    fill: $color-button-primary;
  }

  &:focus-visible {
    border-radius: $radius-sm;
    outline: 2px solid $color-button-primary;
    outline-offset: 2px;
  }
}
