.chevron {
  transition: transform 0.2s ease;
}

.horizontal {
  transform: rotate(0deg);

  &Open {
    transform: rotate(180deg);
  }
}

.vertical {
  transform: rotate(-90deg);

  &Open {
    transform: rotate(90deg);
  }
}
