.box {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 200px;
  height: 48px;
  padding: 0;
  border-color: #69735d;

  transition:
    height 0.2s ease-in-out,
    padding 0.2s ease-in-out;
}

.container {
  position: relative;
  width: 200px;
}

.boxActive {
  height: 200px;
  padding-block-start: 50px;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}
